{% extends 'bonos/base.html' %}
{% load static %}
{% load generate_qr %}
{% block head %}
{{block.super}}
<style>
    .card {
        background-color: #2ba17c;
        color: white;
    }

    .card24{
        background-color: #b0aeae !important;
        color: #000000;
    }

    .card24>.card-header{
        background-color: #999999 !important;
    }
</style>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        chks = document.querySelector('#formdown').querySelectorAll('input[name="bonus"]');
        chk_all = document.querySelector('#slc_all');
        chk_all.addEventListener('change', () => {
            chks.forEach(e => {
                e.checked = chk_all.checked;
            });
        });
    });
</script>
{% endblock %}
{% block main %}
<div class="container mt-5 mb-5">
    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'success' %}
    <div class="alert alert-success text-center" role="alert">
        {{message|safe}}
    </div>
    {% elif message.tags == 'warning' %}
    <div class="alert alert-warning text-center" role="alert">
        {{message|safe}}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    <div class="card shadow-sm border-0">
        <h4 class="card-header bg-black text-white">Listado de bonos <small>({{total}})</small></h4>
    </div>
    <form class="mt-3" role="search" action="{% url 'listar' %}">
        <div class="d-flex justify-content-between my-3">
            <span>Mostrando ({{object_list.count}})</span>
            <div>
                <label>Del&nbsp;</label><input type="date" name="start" value="{{start}}">
            <label>&nbsp;al&nbsp;</label><input type="date" name="end" value="{{end}}">
            </div>
        </div>
        <div class="d-flex">
            <input value="{{q}}" name="q" class="form-control me-2" type="search" placeholder="Ingresa un folio">
            <button class="btn green-btn text-white" type="submit">Buscar</button>
        </div>
        <br>
        <div class="form-check form-check-inline">
            <input name="type" class="form-check-input" type="checkbox" id="abonado" value="abonado" {% if 'abonado' in type %}checked{% endif %}>
            <label class="form-check-label" for="abonado">Abonados</label>
        </div>
        <div class="form-check form-check-inline">
            <input name="type" class="form-check-input" type="checkbox" id="comprado" value="comprado" {% if 'comprado' in type %}checked{% endif %}>
            <label class="form-check-label" for="comprado">Comprados</label>
        </div>
        <div class="form-check form-check-inline">
            <input name="type" class="form-check-input" type="checkbox" id="vitalicio" value="vitalicio" {% if 'vitalicio' in type %}checked{% endif %}>
            <label class="form-check-label" for="vitalicio">Vitalicio</label>
        </div>
        <div class="form-check form-check-inline">
            <input name="type" class="form-check-input" type="checkbox" id="cortesia" value="cortesia" {% if 'cortesia' in type %}checked{% endif %}>
            <label class="form-check-label" for="cortesia">Cortesía</label>
        </div>
        <div class="form-check form-check-inline">
            <input name="type" class="form-check-input" type="checkbox" id="palco" value="palco" {% if 'palco' in type %}checked{% endif %}>
            <label class="form-check-label" for="palco">Palco</label>
        </div>
        <div class="form-check form-check-inline">
            <input name="type" class="form-check-input" type="checkbox" id="seguridad" value="seguridad" {% if 'seguridad' in type %}checked{% endif %}>
            <label class="form-check-label" for="seguridad">Seguridad</label>
        </div>
        <div class="form-check form-check-inline">
            <input name="type" class="form-check-input" type="checkbox" id="operativo" value="operativo" {% if 'operativo' in type %}checked{% endif %}>
            <label class="form-check-label" for="operativo">Operativo</label>
        </div>
        <div class="form-check form-check-inline">
            <input name="type" class="form-check-input" type="checkbox" id="network" value="network" {% if 'network' in type %}checked{% endif %}>
            <label class="form-check-label" for="network">Network</label>
        </div>
        <div class="form-check form-check-inline">
            <input name="type" class="form-check-input" type="checkbox" id="directiva" value="directiva" {% if 'directiva' in type %}checked{% endif %}>
            <label class="form-check-label" for="directiva">Directiva</label>
        </div>
        <div class="form-check form-check-inline">
            <input name="type" class="form-check-input" type="checkbox" id="admin" value="admin" {% if 'admin' in type %}checked{% endif %}>
            <label class="form-check-label" for="admin">Administración</label>
        </div>
        <div class="form-check form-check-inline">
            <input name="type" class="form-check-input" type="checkbox" id="tarjeton" value="tarjeton" {% if 'tarjeton' in type %}checked{% endif %}>
            <label class="form-check-label" for="tarjeton">Tarjetón Est.</label>
        </div>
    </form>
    <hr>
    <form action="{% url 'descargar' %}" method="post" id="formdown">
        {% csrf_token %}
        <div class="d-flex justify-content-between align-items-center my-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="slc_all">
                <label class="form-check-label" for="slc_all">
                    Seleccionar todo
                </label>
            </div>
            <div>
            <button name="dw-qr" type="submit" class="btn btn-light">Descargar QR</button>
            <button name="dw-bn" type="submit" class="btn btn-light">Descargar bonos</button>
            </div>
        </div>
        <div class="row">
            {% for obj in object_list %}
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card {% if obj.fecha_reg.year == 2024 %}card24{% endif %} mb-3 shadow border border-3 border-dark-subtle">
                    <div class="card-header">
                        <input name="bonus" class="form-check-input me-2" type="checkbox" id="{{obj.folio}}" value="{{obj.folio}}">
                        <label class="form-check-label" for="{{obj.folio}}">{{obj.folio}}</label>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-start align-items-center">
                            {% generate_qr obj.folio %}
                            <div class="ms-3">
                                <h4 class="card-title bold"><b>{{obj.abonado.name}}</b></h4>
                                <span>Sección: <b>{{obj.ubicacion.section}}</b></span>&nbsp;&nbsp;
                                <span>Fila: <b>{{obj.ubicacion.row}}</b></span>&nbsp;&nbsp;
                                <span>Asiento: <b>{{obj.ubicacion.seat}}</b></span>
                                <br>
                                <small>Registrado el {{obj.fecha_reg}}</small>
                            </div>
                        </div>
                        <div class="mt-3 text-end">
                            <a href="{% url 'descargar' %}?bonus={{obj.folio}}" type="button" class="btn btn-light"
                                style="--bs-btn-padding-y: .08rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .70rem;">Descargar</a>
                            <a href="{% url 'editar' obj.uuid %}" type="button" class="btn btn-light"
                                style="--bs-btn-padding-y: .08rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .70rem;">Editar</a>
                            <a href="{% url 'eliminar' obj.uuid %}" type="button" class="btn btn-danger"
                                style="--bs-btn-padding-y: .08rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .70rem;">Eliminar</a>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="container">
                <div class="alert alert-warning text-center" role="alert">
                    No se encontraron resultados
                </div>
            </div>
            {% endfor %}
        </div>
    </form>
    <br><br>
    <div class="d-flex justify-content-center">
        {% include 'base/pagination.html' %}
    </div>
</div>
<br><br><br>
{% endblock %}